<section class="py-5 bg-light text-center">
    <div class="container">
        <h5>¿Deseas añadir un lugar o dejar una reseña? Inicia sesión!</h5>
        <a class="btn btn-dark btn-sm mt-3 px-3 py-2" asp-area="Identity" asp-page="/Account/Login">
            Iniciar Sesión
        </a>
    </div>
</section>